---

layout: default
navpage: home

skill:

- title: Frontend
  description: |
    I am well versed in creating static websites using the latest patterns and trends. <br><br>
    My go-to technologies usually involves SCSS, Bootstrap, and ES6 (Javascript). <br><br>
    Check out the source code for my portfolio <a href="https://github.com/supzter/supul.me" target="_blank">here.</a>
  
- title: Animation
  description: |
    I have experience with Adobe After Effects and Adobe Animate. <br><br>
    I understand when to use motion graphics and frame by frame animations.

- title: Social Media
  description: |
    I have planned and lead successful social media campaigns for user aquisition and customer retention. <br><br>
    My personal <a href="https://www.facebook.com/papadamnarts/" target="_blank">freelance art page</a> has over 29,000 followers.

- title: Photography
  description: |
    I have professional experience as a product photographer and I do my post-processing in Photoshop & Lightroom. <br><br>
    Nature photography is a one of my favourite hobbies. 

---

<div class="index-wrapper" id="#">
        {% include navigation.html %}
    <div class= "hero index-hero">
            
            <video loop muted autoplay poster="videos/pauseScreen2.png" class="fullscreen-bg__video">
                <div class="height-mark"></div>
                <source src="videos/hero-video4.mp4" type="video/mp4">
            </video>
           <div class= "container section index-hero-section">
               <div class= "row justify-content-center align-items-center">
                   <div class= "col-md-6 col-12">
                       <h1>Supul Amarakoon</h1>
                       <br>
                       <br>
                       <p>Hello and welcome to my portfolio! I’m Supul, a professional interaction designer and an illustrator passionate about all things creative. </p>
                       </br>
                       <p>When I’m not working on branding and UX, you’ll find me working on <a href="drawing.html#sakkai-muniyai">Sakkai Muniyai</a>, a webcomic entirely written and illustrated by me.</p>
                       <br>
                       <span>
                           <a href="pdf/Supul_resume.pdf" target= "parent">
                                <button class="btn btn-primary btn-big btn-fill btn-cta">See my Resume</button>
                            </a>
                        </span>
                        <span>
                            <a href="https://www.linkedin.com/in/supul-achinthya-amarakoon-58aa25b6/" target= "parent">
                                <button class="btn btn-primary btn-big btn-outline btn-cta">Check my LinkedIn</button>
                            </a>
                        </span>
                   </div>
               </div>
           </div>
    </div>

    <div class="index-content">

        <div class= "primary" data-aos="fade-up">
            <div class= "container section primary-skills">
                <div class= "row title-row justify-content-center aling-items-center">
                    <div class= col-12>
                        <h2>Skills I Bring</h2>
                    </div>
                </div>
                <div class= "row row-eq-height content-row justify-content-center">
                    <div class= "col-md-4 col-12 card-col">
                        <div class="card text-center document-card">
                            <a href="/ux.html">{% asset gopark_bw.png alt='User Experience Design' class="cardimg" %}</a>
                            <div class="card-body d-flex flex-column">
                            <h4 class="card-title">UX/UI Design</h4>
                            <br>
                            <p class="card-text">I have 3+ years of UX Design experience and specialize in visual design.</p>
                            <br>
                            <a class="btn btn-primary btn-big btn-fill btn-cta mt-auto" href= "/ux.html" target= "parent" id="uxBtn">See more</a>
                            </div>
                        </div>
                            
                    </div>
                    <div class= "col-md-4 col-12 card-col">
                        <div class="card text-center document-card">
                            <a href="/drawing.html">{% asset teacher.png alt='Illustration' class="cardimg" %}</a>
                            <div class="card-body d-flex flex-column">
                            <h4 class="card-title">Illustration</h4>
                            <br>
                            <p class="card-text">Illustrating is my favourite thing in the world. I have professional experience in both technical and creative illustrations.</p>
                            <br>
                            <a class="btn btn-primary btn-big btn-fill btn-cta mt-auto" href= "/drawing.html" target= "parent" id="uxBtn">See more</a>
                            </div>
                        </div>       
                    </div>
    
                    <div class= "col-md-4 col-12 card-col">
                        <div class="card text-center document-card">
                            <a href="/graphic.html">{% asset BookMockup.png alt='Graphic Design' class="cardimg" %}</a>
                            <div class="card-body d-flex flex-column">
                            <h4 class="card-title">Graphic Design</h4>
                            <br>
                            <p class="card-text">I understand the intricacies in creating content for web, print, and signage.</p>
                            <br>
                            <a class="btn btn-primary btn-big btn-fill btn-cta mt-auto" href= "/graphic.html" target= "parent" id="uxBtn">See more</a>
                            </div>
                        </div>         
                    </div>
                </div>
            </div>
        </div>

        <div class= "secondary" data-aos="fade-up">
            <div class= "container section secondary-skills">
                <div class= "row title-row justify-content-center aling-items-center">
                    <div class= "col-12">
                        <h2>Secondary Skills</h2>
                    </div>
                </div>
                <div class= "row row-eq-height skills-row justify-content-center aling-items-center">
                    {% for skill in page.skill %}
                    <div class= "col-md-3">
                        <span class= "featurespan">
                            <h4>{{ skill.title }}</h4>
                            <br>
                            <p>{{ skill.description }}</p>
                        </span>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        

    </div>
    <div class= "index-cta">
        <div class= "container section index-cta-section">
            <div class= "row cta-row justify-content-center aling-items-center" data-aos="fade-up">
                <div class= "col-md-7 col-12">
                    <h1>See more.</h1>
                    <br>
                    <a href="https://www.behance.net/supulamaraae85" target="_blank">{% asset behance-white.svg alt='Behance' class="socialimg" %}</a>
                    <a href="https://www.linkedin.com/in/supul-achinthya-amarakoon-58aa25b6/" target="_blank">{% asset linkedin-white.svg alt='linkedin' class="socialimg"%}</a>
                    <a href="https://medium.com/@supul.amarakoon" target="_blank">{% asset medium-white.svg alt='Medium' class="socialimg" %}</a>
                    <a href="https://www.artstation.com/supzter" target="_blank">{% asset artstation-white.svg alt='Artstation' class="socialimg" %}</a>
                    <br>
                    <br>
                    <br>
                    <p>Like what you see?</p>
                    <br>
                    <a href="mailto:supul.amarakoon@gmail.com?subject=Hello!&body=" target= "parent">
                        <button class="btn btn-primary btn-big btn-fill btn-cta">Let's get in touch! :)</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>