---

layout: default
navpage: ux

portfolio:

- name: Wittaya Aqua
  anchor: wittaya-aqua
  imageLeft: false
  link: https://www.behance.net/gallery/86296487/Wittaya-Aqua-Web-application-UX
  description: |
    AquaOP is Wittaya’s software platform for aquaculture data analytics.
    <br><br>As the Designer, I was responsible for coming up with the branding guidlines and revamping the UX of the app and the site. The sheer amount of data management and visualization required made this a challenging but an interesting task.
  image: wittaya_ux1.png

- name: IAFFD (International Aquafeed Formulation)
  anchor: iaffd
  imageLeft: true
  image: iaffd_ux1.png
  link: https://www.behance.net/gallery/86285069/IAFFD-Showcase-Website-Revamp
  description:  |
    The International Aquaculture Feed Formulation Database (IAFFD) is an open access tool used by aquaculture industry formulators. <br><br> As a Frontend Developer, I successfully modernized the website, adhering to the existing branding, while coordinating the effort with the backend engineers.

- name: Papadamn
  anchor: papadamn
  imageLeft: false
  image: papadamn_ux.png
  link: https://www.behance.net/gallery/86638771/Papadamncom-landing-page-and-merch-store
  description:  |
    This was a personal project done for my personal brand “Papadamn”. I wanted a digital presence to promote my content and sell my merchandize.
    <br><br>I am also developing a custom comic reader for displaying my content which will make an appearance in this list later!

- name: GoParkr
  anchor: goparkr
  imageLeft: true
  image: goparkr_ux.png
  link: https://www.behance.net/gallery/70557555/GoParkr-UX
  description:  |
    GoParkr allows users to search and book parking spots or list their own spot to make revenue. <br><br>
    As the Chief Designer, I was in-charge of the branding, mobile app (Android and iOS) and web app UI/UX, and the marketing/app showcase site.
---

<div class= "ux-wrapper subpage-wrapper" id= "1">
    {% include navigation.html %}
    <div class= "hero subpage-hero">
        <div class="height-mark"></div>
        <div class= "container section subpage-section">
            <div class= "row align-items-center justify-content-center">
                <div class= "col-12 col-md-5">
                    <h1>UX Design</h1>
                    <br>
                    <p>I specialize in Visual Design and have 3+ years of experience. Here are some of my favorite projects.</p>
                </div>
            </div>
        </div>
    </div>

    <div class= "portfolio">
        <div class="portfolio-content-wrapper">

            {% for project in page.portfolio %}
        
            <div class="project-wrapper">
                <div class="container section project-section">

                    <div class="row row-eq-height justify-content-center align-items-center" data-aos="fade-up">
        
                        {% capture image_col %}
                        <div class="pc-image-col col-md-7 col-12">
                            <a href="{{project.link}}">{{ project.image | append:' class="portfolioimg" '| asset}}</a>
                        </div>
                        {% endcapture %} {% if project.imageLeft %} {{ image_col }} {% endif %}
        
                        <div class="col-md-5 col-12 content-col">
                            <h3 id="{{project.anchor}}">{{ project.name}}</h3>
                            <br>
                            <p>{{ project.description }}</p>
        
                            {% if project.link.size > 0 %}
                            <a href= {{project.link}} target="_blank">
                            <button class="btn btn-primary btn-big btn-fill">See more</button>
                            </a>
                            <br>
                            {% endif %}
                        </div>
        
                        {% if project.imageLeft == false %} {{ image_col }} {% endif %}
                        
                        <div class="mobile-image-col col-12 col-md-7">
                            {{ project.image | append:' class="portfolioimg-mobile" '| asset}}
                        </div>

                        <div class= "col-12">
                                <hr>
                        </div>
                        
        
                    </div>
                </div>
            </div>

            {% endfor %}
            
        </div>
    </div>

    <div class= "cta">
        <div class= "container section subpage-section">
            <div class= "row align-items-center justify-content-center">
                <div class= "col-md-7">
                    <h1>Wait, there's more!</h1>
                    <br>
                    <p>Want to see more of my UX projects?</p>
                    <br>
                    <a href= "https://www.behance.net/supulamaraae85" target= "parent"><button class="btn btn-primary btn-big btn-fill btn-cta">Visit my Behance</button></a>
                </div>
            </div>
        </div>
    </div>
</div>