<div class= "footer-wrapper">
    <div class= "container">
        <div class= "row row-footer justify-content-center">
            <div class= "col-md-6 col-12 jusitfy-content-left copyrights">
                <h6>© 2019 Supul Amarakoon</h6>
                <p>Email: <span id="email-text"></span> (preferred)</p>
                <p>Phone: <span id="phone-text"></span></p>
            </div>
        
            <div class= "col-md-6 col-12 socialstuff justify-content-right">
                    <a href="https://www.behance.net/supulamaraae85" target="_blank">{% asset behance.svg alt='Behance' class="socialimg" height='20' %}</a>
                    <a href="https://www.linkedin.com/in/supul-achinthya-amarakoon-58aa25b6/" target="_blank">{% asset linkedin.svg alt='linkedin' class="socialimg" height='20' %}</a>
                    <a href="https://medium.com/@supul.amarakoon" target="_blank">{% asset medium.svg alt='Medium' class="socialimg" height='20' %}</a>
                    <a href="https://www.artstation.com/supzter" target="_blank">{% asset artstation.svg alt='Artstation' class="socialimg" height='20' %}</a>
                </div>
                    
        </div>      
    </div>
        
</div>