<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name=”description” content="UX, Illustration, Portfolio">
    <meta name="keywords" content="illustration, UX, Graphic, Design, Portfolio, Toronto, Canada, Sri Lanka">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Supul Amarakoon</title>

    <!--Favicons-->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    
    <!-- Google Fonts -->
    <link href="//fonts.gstatic.com" rel="preconnect" crossorigin>
    <link href="//fonts.googleapis.com" rel="dns-prefetch">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Muli&display=swap" rel="stylesheet">
    {% asset main.css %}
    
    <!-- Open Graph -->
    <meta property="og:title" content="Supul Amarakoon" />
    <meta property="og:description" content="Hi I'm Supul. I'm a UX Designer, Graphic Designer, and Illustrator" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://supul.me/" />
    <meta property="og:image" content="https://supul.me{% asset me2.png @path %}" />
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-49466010-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-49466010-1');
    </script>

    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
     
</head>