.drawing-wrapper{
    .subpage-hero{
        background-image: asset_url("uboy.png");
        
    }

    .cta{
        background-image: asset_url("uboy.png");
    }

    .project-wrapper{
        padding:0;
    }

    .portfolioimg{
        max-width: 80%;
    }
}