.footer-wrapper{
    
    bottom: 0;
    background-color: #1A0826;
    padding-top: 50px;
    padding-bottom: 50px;
    
    .row-footer{
        
        //padding-left: 5%;
        //padding-right: 5%;
        padding-top: 0px;
        padding-bottom: 10px;
        

        .copyrights{
            text-align: left;
            p{
                color: #845E89;
            }

            h6{
               color: #E197ED;
            }
        }
        .socialstuff{
            text-align: right;
            .socialimg{
                padding-left: 10px;
                padding-right: 10px;

                &:hover{
                    filter: brightness(170%);
                }
            }
        }
    }

    @media only screen and (max-width: 768px){
        .row-footer{
            .col-12{
                text-align: center !important;
            }
        }
    }
}