.other-wrapper{
    .subpage-hero{
        background-image: asset_url("home_bg1.png");
        
    }

    .cta{
        background-image: asset_url("home_bg1.png");
    }

    .portfolioimg{
        max-width: 80%;
    }
}